<!DOCTYPE html>
<html>
	<head>
		<!--
        	author：xuxiao
        	date：2016-12-05
        	description: develped for Nokia MGW 7510 Auto Deployment
        -->
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <!-- bootstrap 提供的缩放功能，在移动设备上可以禁用缩放功能，
	                           这样看起来更像是原生的 APP 应用 -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
		<title>Nokia MGW 7510 Auto Deployment!</title>


        <link rel="stylesheet" href="/static/css/bootstrap2.min.css" />
		<!-- 自定义 css 文件-->
		<link rel="stylesheet" href="/static/css/mystyle.css" />
       	
       	<!-- 引用 bootstrap 之前必须先引用 jqurey --> 		
		<script type="text/javascript" src="/static/js/jquery-3.1.1.min.js" ></script>
		<script type="text/javascript" src="/static/js/bootstrap.min.js" ></script>
		<!-- 自定义 JavaScript 文件-->
		<script type="text/javascript" src="/static/js/myscript.js" ></script>
	</head>
	
	<body>
		
		<!-- nav bar ======================================================= -->
	    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header navbar-left">
					<a class=navbar-brand href="/">
						Nokia MGW 7510 Auto Deployment
					</a>
					<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>

				<div class="navbar-collapse collapse" id="navbar-main">
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">
								Welcome {{user}}
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu" aria-labelledby="themes">
{#								<li><a href="/change-password/?p1={{user}}">change password</a></li>#}
                                <li><a href="/settings">settings</a></li>
								<li><a href="/logout">log out</a></li>
							</ul>
						</li>
					</ul>
				</div>

			</div> <!-- container -->
		</nav>

		<div style="height: 100px;"></div>

        <div class="container-fluid">
            <div class ="col-lg-10">

                <div class="row">
                    <legend class="text-left col-lg-10">D-SBC CE</legend>
                </div>

                <form id="ceDeployForm" method="post" class="form-horizontal" action="#">

                    <div class="form-group">
                        <label for="select" class="col-lg-2 control-label text-left">Release</label>
                        <div class="col-lg-2">
                            <select class="form-control" id="selectRel">
                                <option>C7.1</option>
                            </select>
                        </div>
                    </div>

                    <div style="height: 15px;"></div>

                    <div class="form-group">
                        <label for="select" class="col-lg-2 control-label text-left">Build (Pak Name)</label>
                        <div class="col-lg-4">
                            <select class="form-control" id="selectPak" style="width: 140%">
                                <option>Please Select One Pak</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
        </div>


        <!-- padding -->
        <div style="height: 105px;"></div>
        
	    <!-- Footer: Address & Contact Info ===================================== -->	
        <div class="panel-footer">
        	<strong>Nokia, Inc. Shanghai, China</strong>
				<br> 
					MGW 7510, Network Management Team. Contact:
					<a href="mailto:Xiao.A.Xu@alcatel-sbell.com.cn">
						Xiao.A.Xu@alcatel-sbell.com.cn
					</a>
					<br>
						Copyright © 2016  Nokia.inc All Rights Reserved
					</br>
				</br>
        </div>

        <script type="text/javascript">
            $(document).ready(function(){
                get_pak_list();
            });

            function get_pak_list(){
                $.ajax({
                    type : "POST", // POST request
                    dataType : "json", // expect json format data
                    url : "check-pak/", // target url
                    data : {
                        "selectRel" : $('#selectRel').val()
                    },
                    success : function(result){
                        // result form target url
                        if (result.hasOwnProperty("ok")){
                            $.each(result["ok"],function(index,item){
                                $('#selectPak').append(
                                    "<option>" + item + "</option>"
                                )
                            })
                        }
                        // failed login to pak server
                        else if (result.hasOwnProperty("nok")){
                            alert(result["nok"])
                        }
                    },
                    async: false
                })
            } //function get_pak_list()

        </script>
		
	</body>
	
</html>
