<!DOCTYPE html>
<html>
	<head>
		<!--
        	author：xuxiao
        	date：2016-12-05
        	description: develped for Nokia MGW 7510 Auto Deployment
        -->
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <!-- bootstrap 提供的缩放功能，在移动设备上可以禁用缩放功能，
	                           这样看起来更像是原生的 APP 应用 -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
		<title>Register, Nokia SBC Auto Deployment!</title>
		
		<link rel="stylesheet" href="../../static/css/bootstrap2.min.css" />
		<link rel="stylesheet" href="../../static/css/bootstrapValidator.min.css" />
		<!-- 自定义 css 文件-->
		<link rel="stylesheet" href="../../static/css/mystyle.css" />
		
       	
       	<!-- 引用 bootstrap 之前必须先引用 jqurey --> 		
		<script type="text/javascript" src="../../static/js/jquery-3.1.1.min.js"></script>
		<script type="text/javascript" src="../../static/js/bootstrap.min.js"></script>
		<!-- 表单验证脚本 -->
		<script type="text/javascript" src="../../static/js/bootstrapValidator.min.js"></script>
		<!-- 自定义 JavaScript 文件-->
		<script type="text/javascript" src="../../static/js/myscript.js" ></script>
		
	</head>

	<body>
		<!-- nav bar ======================================================= -->
	    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header navbar-left">
					<a class=navbar-brand href="/">
						Nokia SBC Auto Deployment
					</a>
					<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
			</div> <!-- container -->
		</nav>
		
		<div style="height: 50px;"></div>


		<div class="container-fluid">
		    <div class="row">
		        <!-- form: -->
		        <div class="bs-docs-section">
		            <div class="col-lg-8 col-lg-offset-2">
		                <div class="page-header">
		                    <h3>Change your own password !</h3>
		                </div>
		
		                <form id="cpForm" method="post" class="form-horizontal" action="ok/">
		                    <div class="alert alert-success" style="display: none;"></div>
		
		                    <div class="form-group">
		                        <label class="col-lg-3 control-label">UserName(Email address)</label>
		                        <div class="col-lg-5">
		                            <input type="text" class="form-control" name="username" id="cpUsername" value={{paramUser}} />
		                        </div>
		                    </div>
		                    
		                    <div style="height: 5px;"></div>
		
		                    <div class="form-group">
		                        <label class="col-lg-3 control-label">Old Password</label>
		                        <div class="col-lg-5">
		                            <input type="password" class="form-control" name="password" autocomplete="off" />
		                        </div>
		                    </div>

							<div class="form-group">
		                        <label class="col-lg-3 control-label">New Password</label>
		                        <div class="col-lg-5">
		                            <input type="password" class="form-control" name="newPassword" autocomplete="off" />
		                        </div>
		                    </div>
		                    
		                    <div style="height: 5px;"></div>
		                    
		                    <div class="form-group">
		                        <label class="col-lg-3 control-label">Confirm New Password</label>
		                        <div class="col-lg-5">
		                            <input type="password" class="form-control" name="confirmNewPassword" autocomplete="off" />
		                        </div>
		                    </div>
		                    
		                    <div style="height: 5px;"></div>
		
		                    <div class="form-group">
		                        <div class="col-lg-5 col-lg-offset-3">
		                            <button type="submit" class="btn btn-primary btn-block">submit</button>
		                        </div>
		                    </div>
		                </form>
		            </div>
		        </div>
		        <!-- :form -->
		    </div>
		</div>

        <div style="height: 100px;"></div>

        <!-- Footer: Address & Contact Info ===================================== -->	
        <div class="panel-footer">
        	<strong>Nokia, Inc. Shanghai, China</strong>
				<br> 
					MGW 7510, Network Management Team. Contact:
					<a href="mailto:Xiao.A.Xu@alcatel-sbell.com.cn">
						Xiao.A.Xu@alcatel-sbell.com.cn
					</a>
					<br>
						Copyright © 2016  Nokia.Inc All Rights Reserved
					</br>
				</br>
        </div>

        
		<script type="text/javascript">
		$(document).ready(function() {
		    $('#cpForm')
		        .bootstrapValidator({
		            message: 'This value is not valid',
		            //live: 'submitted',
		            feedbackIcons: {
		                valid: 'glyphicon glyphicon-ok',
		                invalid: 'glyphicon glyphicon-remove',
		                validating: 'glyphicon glyphicon-refresh'
		            },
		            fields: {
		                username: {
		                    message: 'The username is not valid',
		                    validators: {
								notEmpty: {
		                            message: 'The username is required and can\'t be empty'
		                        },
		                        emailAddress: {
		                            message: 'The input is not a valid email address'
		                        }
		                    }
		                },
		                password: {
		                    validators: {
		                        notEmpty: {
		                            message: 'The old password is required and can\'t be empty'
		                        }
		                    }
		                },
						newPassword: {
		                    validators: {
		                        notEmpty: {
		                            message: 'The new password is required and can\'t be empty'
		                        }
		                    }
		                },
				        confirmNewPassword: {
				            validators: {
				                notEmpty: {
				                    message: 'The confirmed new password is required and cannot be empty'
				                },
				                identical: {
				                    field: 'newPassword',
				                    message: 'The new password and its confirm are not the same'
				                }
				            }
				        }
		            }
		        })
		        
		        .on('success.form.bv', function(event) {
		            // prevent submit button handler, exec the post action
		            event.preventDefault();
		
		            var $form = $(event.target),
					    validator = $form.data('bootstrapValidator');

		            $.post(
		                $form.attr('action'),   // request url
                        $form.serialize(), // data
                        function(result){
		                    if(result == "ok"){
		                        // return to home page
								alert("Congratulations! Password Change Successful! \n please login again");
								window.location.href="/"
								// userName = xuxiao1216@126.com
//								var cpuserName = $("#cpUsername").val()
//		                        window.location.href="/login-in" + "/"+ cpuserName
							}
		                    else{
		                        alert(result);
							}
                        },
                        'html'
					)
		        });
		});
		</script>

	</body>
</html>
























