<!DOCTYPE html>
<html>
	<head>
		<!--
        	author：xuxiao
        	date：2016-12-05
        	description: develped for Nokia MGW 7510 Auto Deployment
        -->
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <!-- bootstrap 提供的缩放功能，在移动设备上可以禁用缩放功能，
	                           这样看起来更像是原生的 APP 应用 -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
		<title>Register, Nokia MGW 7510 Auto Deployment!</title>
		
		<link rel="stylesheet" href="../../static/css/bootstrap2.min.css" />
		<link rel="stylesheet" href="../../static/css/bootstrapValidator.min.css" />
		<!-- 自定义 css 文件-->
		<link rel="stylesheet" href="../../static/css/mystyle.css" />
		
       	
       	<!-- 引用 bootstrap 之前必须先引用 jqurey --> 		
		<script type="text/javascript" src="../../static/js/jquery-3.1.1.min.js"></script>
		<script type="text/javascript" src="../../static/js/bootstrap.min.js"></script>
		<!-- 表单验证脚本 -->
		<script type="text/javascript" src="../../static/js/bootstrapValidator.min.js"></script>
		<!-- 自定义 JavaScript 文件-->
		<script type="text/javascript" src="../../static/js/myscript.js" ></script>
		
	</head>

	<body>
		<!-- nav bar ======================================================= -->
	    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header navbar-left">
					<a class=navbar-brand href="/">
						Nokia MGW 7510 Auto Deployment
					</a>
					<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="navbar-collapse collapse" id="navbar-main">
					<ul class="nav navbar-nav navbar-right">
						<li><a>Welcome Baby!</a></li>
                    </ul>
				</div>
			</div> <!-- container -->
		</nav>
		
		<div style="height: 50px;"></div>
		
		<!-- 传统表单 register legend forms ======================================================= -->	
        <!--<div class="container">
			<div class="bs-docs-section">
				<div class="row">
			  		<div class="col-lg-12">
						<div class="page-header">
			  				<h3 id="forms">Welcome to ABP System !</h1>
						</div>
			  		</div>
	        	</div>
                
                <div class="row">
			        <div class="col-lg-6">
			            <div class="well bs-component">
			              	<form class="form-horizontal">
			                	<fieldset>
			                		<div style="height: 5px;"></div>
			                		<legend>Create a new account</legend>
			                		<div class="form-group">
			                			<label for="inputUsername" class="col-lg-2 control-label">Username</label>
			                			<div class="col-lg-10">
			                				<input type="text" class="form-control" id="inputUsername" placeholder="Username">
			                			</div>
			                		</div>
			                		
			                		<div style="height: 10px;"></div>
			                		
			                		<div class="form-group">
			                			<label for="inputEmail" class="col-lg-2 control-label">Email</label>
			                			<div class="col-lg-10">
			                				<input type="text" class="form-control" id="inputEmail" placeholder="Email">
			                			</div>
			                		</div>
			                		
			                		<div style="height: 10px;"></div>
			                		
			                		<div class="form-group">
			                			<label for="inputPassword" class="col-lg-2 control-label">Password</label>
			                			<div class="col-lg-10">
			                				<input type="password" class="form-control" id="inputPassword" placeholder="Password">
			                			</div>
			                		</div>
			                		
			                		<div style="height: 10px;"></div>
			                		
			                		<div class="form-group">
			                			<label for="inputConfirmedPassword" class="col-lg-2 control-label">Confirm Password</label>
			                			<div class="col-lg-10">
			                				<input type="password" class="form-control" id="inputConfirmedPassword" placeholder="Confirm Password" style="margin-top: 10px;">
			                			</div>
			                		</div>
			                		
			                		<div style="height: 10px;"></div>
			                		
			                		<div class="form-group">
			                			<div class="col-lg-10 col-lg-offset-2">
                      						<button type="submit" class="btn btn-primary btn-block">Submit</button>
                  					</div>
                  					
                  					<div style="height: 20px;"></div>
                  					
			                	</fieldset>
			                </form>
			            </div> 
			        </div> 
			    </div> 
	     	</div> 
	     	
	     	<div style="height: 40px;"></div>
	     	
        </div>-->

		<div class="container-fluid">
		    <div class="row">
		        <!-- form: -->
		        <div class="bs-docs-section">
		            <div class="col-lg-8 col-lg-offset-2">
		                <div class="page-header">
		                    <h3>Welcome to ABP System !</h3>
		                </div>
		
		                <form id="defaultForm" method="post" class="form-horizontal" action="signup/">
		                    <div class="alert alert-success" style="display: none;"></div>
		
		                    <!--<div class="form-group">-->
		                        <!--<label class="col-lg-3 control-label">Username</label>-->
		                        <!--<div class="col-lg-5">-->
		                            <!--<input type="text" class="form-control" name="username" />-->
		                        <!--</div>-->
		                    <!--</div>-->
		                    
		                    <!--<div style="height: 5px;"></div>-->
		
		                    <div class="form-group">
		                        <label class="col-lg-3 control-label">UserName(Email address)</label>
		                        <div class="col-lg-5">
		                            <input type="text" class="form-control" name="username" id="re-username"/>
		                        </div>
		                    </div>
		                    
		                    <div style="height: 5px;"></div>
		
		                    <div class="form-group">
		                        <label class="col-lg-3 control-label">Password</label>
		                        <div class="col-lg-5">
		                            <input type="password" class="form-control" name="password" />
		                        </div>
		                    </div>
		                    
		                    <div style="height: 5px;"></div>
		                    
		                    <div class="form-group">
		                        <label class="col-lg-3 control-label">Confirm password</label>
		                        <div class="col-lg-5">
		                            <input type="password" class="form-control" name="confirmPassword" />
		                        </div>
		                    </div>
		                    
		                    <div style="height: 5px;"></div>
		                    
		                    <div class="form-group">
		                        <label class="col-lg-3 control-label" id="captchaOperation"></label>
		                        <div class="col-lg-2">
		                            <input type="text" class="form-control" name="captcha" />
		                        </div>
		                    </div>
		                    
		                    <div style="height: 5px;"></div>
		
		                    <div class="form-group">
		                        <div class="col-lg-5 col-lg-offset-3">
		                            <button type="submit" class="btn btn-primary btn-block">Sign up</button>
		                        </div>
		                    </div>
		                </form>
		            </div>
		        </div>
		        <!-- :form -->
		    </div>
		</div>

        <div style="height: 50px;"></div>

        <!-- Footer: Address & Contact Info ===================================== -->	
        <div class="panel-footer">
        	<strong>Nokia, Inc. Shanghai, China</strong>
				<br> 
					MGW 7510, Network Management Team. Contact:
					<a href="mailto:Xiao.A.Xu@alcatel-sbell.com.cn">
						Xiao.A.Xu@alcatel-sbell.com.cn
					</a>
					<br>
						Copyright © 2016  Nokia.inc All Rights Reserved
					</br>
				</br>
        </div>

        
		<script type="text/javascript">
		$(document).ready(function() {
		    
		    // Generate a simple captcha
		    // 产生一个简单的验证码
		    function randomNumber(min, max) {
		        return Math.floor(Math.random() * (max - min + 1) + min);
		    };
		    $('#captchaOperation').html([randomNumber(1, 20), '+', randomNumber(1, 50), '='].join(' '));
		
		    $('#defaultForm')
		        .bootstrapValidator({
		            message: 'This value is not valid',
		            //live: 'submitted',
		            feedbackIcons: {
		                valid: 'glyphicon glyphicon-ok',
		                invalid: 'glyphicon glyphicon-remove',
		                validating: 'glyphicon glyphicon-refresh'
		            },
		            fields: {
//		                username: {
//		                    message: 'The username is not valid',
//		                    validators: {
//		                        notEmpty: {
//		                            message: 'The username is required and can\'t be empty'
//		                        },
//		                        stringLength: {
//		                            min: 6,
//		                            max: 30,
//		                            message: 'The username must be more than 6 and less than 30 characters long'
//		                        },
//		                        /*remote: {
//		                            url: 'remote.php',
//		                            message: 'The username is not available'
//		                        },*/
//		                        regexp: {
//		                            regexp: /^[a-zA-Z0-9_\.]+$/,
//		                            message: 'The username can only consist of alphabetical, number, dot and underscore'
//		                        }
//		                    }
//		                },
		                username: {
		                    message: 'The username is not valid',
		                    validators: {
								notEmpty: {
		                            message: 'The username is required and can\'t be empty'
		                        },
		                        emailAddress: {
		                            message: 'The input is not a valid email address'
		                        }
		                    }
		                },
		                email: {
		                    validators: {
		                        notEmpty: {
		                            message: 'The email address is required and can\'t be empty'
		                        },
		                        emailAddress: {
		                            message: 'The input is not a valid email address'
		                        }
		                    }
		                },
		                password: {
		                    validators: {
		                        notEmpty: {
		                            message: 'The password is required and can\'t be empty'
		                        }
		                    }
		                },
				        confirmPassword: {
				            validators: {
				                notEmpty: {
				                    message: 'The confirm password is required and cannot be empty'
				                },
				                identical: {
				                    field: 'password',
				                    message: 'The password and its confirm are not the same'
				                },
				                different: {
				                    field: 'username',
				                    message: 'The password cannot be the same as username'
				                }
				            }
				        },
		                captcha: {
		                validators: {
		                    callback: {
		                        message: 'Wrong answer',
		                        callback: function(value, validator) {
		                            var items = $('#captchaOperation').html().split(' '), sum = parseInt(items[0]) + parseInt(items[2]);
		                            return value == sum;
		                        }
		                    }
		                }
		            }
		            }
		        })
		        
		        .on('success.form.bv', function(event) {
		            // prevent submit button handler, exec the post action
		            event.preventDefault();
		
		            var $form = $(event.target),
					    validator = $form.data('bootstrapValidator');

		            $.post(
		                $form.attr('action'),   // request url
                        $form.serialize(), // data
                        function(result){
		                    if(result == "ok"){
		                        // return to home page
								alert("Congratulations! Register Successful!");
								// userName = xuxiao1216@126.com
								var reuserName = $("#re-username").val();
		                        window.location.href="/login-in" + "/"+ reuserName
							}
		                    else{
		                        alert(result);
		                        // reload current page then register again
							}
                        },
                        'html'
					)
		        });
		});
		</script>

	</body>
</html>
























