<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>test</title>
	</head>
	<body>
		
		
	<script type="text/javascript">
        
var foo = function() {
    console.log(this);
}
foo();
new foo();
        
//	    function test1(){
//	    	num = 3;
//	    };
//	    console.log(num);
	   
	
		var a=10;
		function test2(){
			console.log(a);
			console.log(this.a);
			a=5;
			console.log(a);
			console.log(this.a);
			var a=3;
			console.log(a);
			console.log(this.a);
			a=a+10
			console.log(a);
			console.log(this.a);
		}
		test2();
		console.log(a);
	</script>	
	</body>
</html>
